.experiment__stage {
  height: 700px;
  width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  background-color: #646464;
}

.experiment__stage__label {
  font-size: 14px;
  color: #A8D3A9;
  font-weight: normal;
  text-transform: uppercase;
}

.experiment__stage__img-reference {
  height: 240px;
  width: 250px;
  top: 120px;
  left: 75px;
  position: absolute;
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
}

.experiment__stage__img-transformed {
  height: 240px;
  width: 250px;
  top: 120px;
  left: 75px;
  position: absolute;
  opacity: 0.7;
}
