.experiment {
  width: 700px;
  height: 432px;
  position: relative;
  overflow: hidden;
  display: none; }
  .experiment:target {
    display: block; }

.experiment__code {
  background-color: #3B3B3B;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 180px;
  padding: 20px; }

.experiment__code code pre {
  font-family: 'Monaco';
  font-size: 13px;
  color: #D5D5D5;
  position: absolute;
  top: 70px;
  line-height: 150%; }

.experiment__code code pre span {
  font-family: 'Monaco';
  display: inline; }

.experiment__code__label {
  font-size: 14px;
  color: #A8D3A9;
  font-weight: normal; }

.experiment__code__selector {
  color: #F78D8C; }

.experiment__code__rule {
  color: #FFD479; }

.experiment__code__rule-value {
  color: #FCA369; }

.experiment__code__transform-rule-code-label {
  font-size: 14px;
  color: #A8D3A9;
  font-weight: normal; }

.experiment__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 300px;
  height: 252px;
  background-color: #494949; }

.experiment__controls__label {
  font-size: 14px;
  color: #A8D3A9;
  font-weight: normal;
  text-transform: uppercase; }

.experiment__controls__slider-label, .experiment__controls__slider-label.first-of-two {
  color: #D6ACD6;
  font-size: 18px;
  display: inline-block; }
  .experiment__controls__slider-label.unique {
    margin-top: 70px; }
  .first-of-two.experiment__controls__slider-label {
    margin-top: 40px; }

.experiment__controls__slider, .experiment__controls__slider.axis-x, .experiment__controls__slider.y-axis {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2px;
  width: 260px;
  background-color: #A9A9A9;
  margin: 10px 0 30px 0;
  cursor: -webkit-grab;
  cursor: -moz-grab; }
  .experiment__controls__slider:focus {
    outline: none; }
  .experiment__controls__slider:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing; }
  .experiment__controls__slider::-moz-range-track, .experiment__controls__slider.axis-x::-moz-range-track, .experiment__controls__slider.y-axis::-moz-range-track {
    height: 2px;
    width: 260px;
    background-color: #A9A9A9;
    margin: 10px 0 30px 0;
    border: none; }
  .experiment__controls__slider::-moz-range-thumb, .experiment__controls__slider.axis-x::-moz-range-thumb, .experiment__controls__slider.y-axis::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #646464;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none; }
  .experiment__controls__slider::-webkit-slider-thumb, .experiment__controls__slider.axis-x::-webkit-slider-thumb, .experiment__controls__slider.y-axis::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #646464;
    width: 25px;
    height: 25px;
    border-radius: 50%; }
  .experiment__controls__slider:focus::-webkit-slider-thumb, .experiment__controls__slider:focus::-moz-range-thumb {
    background-color: #D6ACD6; }
  .axis-x.experiment__controls__slider {
    margin-top: 10px; }
  .y-axis.experiment__controls__slider {
    margin-top: 10px; }

.experiment__stage {
  height: 700px;
  width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  background-color: #646464; }

.experiment__stage__label {
  font-size: 14px;
  color: #A8D3A9;
  font-weight: normal;
  text-transform: uppercase; }

.experiment__stage__img-reference {
  height: 240px;
  width: 250px;
  top: 120px;
  left: 75px;
  position: absolute;
  opacity: 0.8;
  -webkit-filter: grayscale(100%); }

.experiment__stage__img-transformed {
  height: 240px;
  width: 250px;
  top: 120px;
  left: 75px;
  position: absolute;
  opacity: 0.7; }

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif; }
