@import 'experiment.scss';
@import 'experiment.code.scss';
@import 'experiment.controls.scss';
@import 'experiment.stage.scss';

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family:
    'HelveticaNeueLight',
    'HelveticaNeue-Light',
    'Helvetica Neue Light',
    'HelveticaNeue',
    'Helvetica Neue',
    'TeXGyreHerosRegular',
    'Helvetica',
    'Tahoma',
    'Geneva',
    'Arial',
    sans-serif;
}

@media (max-width: 2700px) and (min-width: 700px) {
  // .transform-rule {
  //   display: none;
  // }

  // :target {
  //   display: block;
  // }
}
