@import 'experiment.scss';
@import 'experiment.code.scss';
@import 'experiment.controls.scss';
@import 'experiment.stage.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light';
}

@media (max-width: 2700px) and (min-width: 700px) {
  // .transform-rule {
  //   display: none;
  // }

  // :target {
  //   display: block;
  // }
}
